<a href="https://colab.research.google.com/github/scienclick/DataPreparation4MachineLearning/blob/master/NLPdatashape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import numpy as np
import pandas as pd
import nltk
import re
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer,TfidfVectorizer,HashingVectorizer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
stop_words = nltk.corpus.stopwords.words("english")
from nltk.stem.wordnet import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [40]:
def tokenize(text):
    '''this method does the following
    1. normalizing all the words to lower size
    2. removes punctuations
    3. splits the words
    4. removes the stopwords like am,is,have,you,...
    5. lammetizes the words for example running-->run
    '''
    text = re.sub(r"[^a-zA-Z0-9]", " ", text.lower())    # normalize case and remove punctuation
    tokens = word_tokenize(text)    # tokenize text
    tokens = [lemmatizer.lemmatize(word) for word in tokens if word not in stop_words]    # lemmatize andremove stop words
    return tokens

In [41]:

text=["tree is beautiful definietly 100%","seal likes fish too ","nature is see and tree ", "Engineering is borring","Programming is more fun and beautiful","life is such like 0 chanse"]
label=[0,0,0,1,1,2]
df=pd.DataFrame({"label":label,"text":text})

In [42]:
df

   label                                   text
0      0      tree is beautiful definietly 100%
1      0                   seal likes fish too
2      0                nature is see and tree
3      1                 Engineering is borring
4      1  Programming is more fun and beautiful
5      2             life is such like 0 chanse

In [43]:

X_train, X_test, y_train, y_test = train_test_split(df['text'], df['label'], random_state=444)
print('rows in the original data set: {}'.format(df.shape[0]))
print('rows in the training set: {}'.format(X_train.shape[0]))
print('rows in the test set: {}'.format(X_test.shape[0]))

rows in the original data set: 6
rows in the training set: 4
rows in the test set: 2

In [44]:
def model_pipeline(): 
    pipeline = Pipeline([ 
        ('vect', CountVectorizer(tokenizer=tokenize)),
    ])
    return pipeline
model = model_pipeline()
transformed=model.fit(X_train);
vals=transformed.transform(X_train).toarray()
# vals
features=model.steps[0][1].get_feature_names()
frequency_matrix_count_0 = pd.DataFrame(vals, columns=features)
frequency_matrix_count_0

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:507: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

   0  100  beautiful  borring  chanse  ...  fun  life  like  programming  tree
0  0    0          1        0       0  ...    1     0     0            1     0
1  1    0          0        0       1  ...    0     1     1            0     0
2  0    1          1        0       0  ...    0     0     0            0     1
3  0    0          0        1       0  ...    0     0     0            0     0

[4 rows x 12 columns]

In [50]:
def model_pipeline(): 
    pipeline = Pipeline([ 
        ('vect', CountVectorizer(tokenizer=tokenize,ngram_range=(2,2))),
    ])
    return pipeline
model = model_pipeline()
transformed=model.fit(X_train);
vals=transformed.transform(X_train).toarray()
# vals
features=model.steps[0][1].get_feature_names()
frequency_matrix_count_0 = pd.DataFrame(vals, columns=features)
frequency_matrix_count_0

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:507: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

   beautiful definietly  definietly 100  ...  seal like  tree beautiful
0                     0               0  ...          1               0
1                     0               0  ...          0               0
2                     1               1  ...          0               1
3                     0               0  ...          0               0

[4 rows x 8 columns]

In [45]:
def model_pipeline(): 
    pipeline = Pipeline([
        ('vect', CountVectorizer(tokenizer=tokenize)),
        ('tfidf', TfidfTransformer()),
    ])
    return pipeline
model = model_pipeline()
transformed=model.fit(X_train);
vals=transformed.transform(X_train).toarray()
features=model.steps[0][1].get_feature_names()
frequency_matrix_count_1 = pd.DataFrame(vals, columns=features)
frequency_matrix_count_1

     0       100  beautiful   borring  ...  life  like  programming      tree
0  0.0  0.000000   0.486934  0.000000  ...   0.0   0.0     0.617614  0.000000
1  0.5  0.000000   0.000000  0.000000  ...   0.5   0.5     0.000000  0.000000
2  0.0  0.525473   0.414289  0.000000  ...   0.0   0.0     0.000000  0.525473
3  0.0  0.000000   0.000000  0.707107  ...   0.0   0.0     0.000000  0.000000

[4 rows x 12 columns]